@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
    --fs-overly-sm: 12px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-extr: 12px;
    --fs-h2: 48px;
    --fs-h4: 36px;
    --fs-h5: 24px;
    --fs-h6: 21px;
    /* colors */
    --red-400: #F13C6E;
    --white: #FFF;
    --black: #333;
    --gray: #828282;
    --part-black: #000;
    --part-gray: #EFEFEF;
    --container-width: 1110px;
    --container-space: 15px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: white;
}

.white {
    color: var(--white);
}

.part-bold {
    color: var(--part-black);
}

.gray {
    color: var(--gray);
}


/* font-size */
.h2 {
    font-size: var(--fs-h2);
}

.h4 {
    font-size: var(--fs-h4);
}

.h5 {
    font-size: var(--fs-h5);
}

.h6 {
    font-size: var(--fs-h6);
}

.lg {
    font-size: var(--fs-lg);
}

/* Flex */

.flex {
    display: flex;
}

.flex_wrap {
    flex-wrap: wrap;

}

.flex_dir {
    flex-direction: column;
}

.flex_row {
    flex-direction: row;
}

.justify_between {
    justify-content: space-between;
    gap: 20px;
}

.justify_center {
    justify-content: center;
}

.items_center {
    align-items: center;
}

.grow_1 {
    flex-grow: 1;
}

.aligh_center {
    align-items: center;
}

/* Flex */

.container {
    max-width: calc(var(--container-width) + var(--container-space) * 2);
    padding: 0 var(--container-space);
    width: 100%;
    margin: 0 auto;
}


.full_page {
    min-height: 100vh;
}

.navigation {
    background-color: #EFEFEF;
}

.nav_header {
    padding: 17px 0 16px;
}

/* text styles */

.txt {
    font-size: var(--fs-md);
}

.txt_nav {
    font-size: var(--fs-sm);
}

.txt_white {
    color: var(--black);
}

.txt_center {
    text-align: center;
}

.header_links {
    gap: 30px;
}

.icon_title {
    color: var(--red-400);
    font-family: Roboto;
    font-size: var(--fs-h4);
    font-weight: 700;
    letter-spacing: 3.6px;
}

.txt-400 {
    font-weight: 400;
}

.txt-500 {
    font-weight: 500;
}


.txt-700 {
    font-weight: 700;
}

.txt-color {
    color: var(--part-black);
}

/* input */

.input {
    border-radius: 30px;
    width: 225px;
    height: 35px;
    padding-left: 25px;
    border-color: #FFF;
    background-color: white;
}

/* logo */
.logo-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.btn {
    margin-left: 40px;
    border-radius: 40px;
    border: 2px solid var(--red-400);
    width: 170px;
    height: 40px;
    background-color: var(--white);
}

.contact {
    padding-top: 20px;
}

.header_links2 {
    gap: 40px;
}

.header_nav_section3 {
    padding-top: 30px;
}

hr {
    margin-top: 40px;
    border: 0;
    width: 100%;
    color: #EFEFEF;
    background: #EFEFEF;
    height: 1px;
}

.main-section {
    background-image: url('Images/Main_chair.png');
}

.bg-image-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 604px;
    margin-top: 30px;
}

.txt_paragraph {
    width: 300px;
    line-height: 20px;
}

.section4 {
    padding-top: 192px;
}

.section4_gap {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.btn_main {
    background-color: var(--red-400);
    width: 170px;
    border-radius: 40px;
    border: 3px solid var(--white);
    height: 40px;
}

/* Cards */

.section_offers {
    padding: 80px 0 80px;
    background-color: var(--part-gray);
}

.cards_img {
    max-width: 125px;
}

.items_offers {
    max-width: 255px;
    min-height: 363px;
    background-color: var(--white);
}

.offers_cards {
    padding: 38px 0 100px 0;
}

.gap_cards {
    gap: 20px;
}

.btn_cards {
    background-color: var(--red-400);
    border-radius: 30px;
    border: 3px solid var(--red-400);
    width: 130px;
    height: 35px;
    margin-left: 27px;
}

/* two_cards */

.card-content {
    min-height: 212px;
    background-color: var(--red-400);
    width: 100%;

}

.images_cards {
    align-items: end;
    padding-right: 45px;
}

.card_space {
    padding-bottom: 100px;
}

.card_width {
    min-width: 540px;
}

.column_interect {
    padding: 35px 0 35px 40px;
    flex-direction: column;
    gap: 25px;
}

.txt_cards_weight {
    max-width: 129px;
}

.line_height {
    line-height: 140.625%;
}

/* table */

.table_impuls {
    background-color: var(--white);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 80px;

}

.table_img {
    max-width: 149px;
}

.table_impuls td {
    text-align: center;
    flex-basis: 50%;
    padding: 35px 0;
}

.table_impuls tr:not(:last-child) {
    border-bottom: 1px solid var(--part-gray);
}

.table_impuls td:not(:last-child) {
    border-right: 1px solid var(--part-gray);
}

/* catagories */

.line_height_catagories {
    line-height: 28px;
}

.catagories {
    width: 255px;
    min-height: 253px;
}

.title_catagories {
    max-width: 100px;
}

.icons_media {
    background-image: url(./Images/Ellipse.png);
    stroke-width: 2px;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    padding: 12px;
}

.padding_footer {
    padding: 60px 0px;
}

.last_section {
    background-color: var(--part-gray);
    padding: 25px 0px;
}

.pre_last {
    padding: 38px 0px;
}